
*{
    margin: 0;
    padding: 0;
    background-color: #603F8B;
}

.container{
    padding-left: 4rem;
    padding-top: 4rem;
    

    
}
.line-one{
    font-size: 5rem;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line-two{
    font-size: 5rem;
    color: #B4FEE7;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line-three{
    margin-top: 1rem;
    display: flex;
}

.random-password{
    width: 50%;
    padding-left: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    color: #603F8B;
    background-color: #fff;
    font-weight: bolder;
}
.random-password:focus{
    outline: none;
}

.fa-copy{
    background-color: white;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: #603F8B;
    font-size:50px;
    font-weight: bolder;
}
.fa-copy:hover{
    background: linear-gradient(to right, #e5d0ff, #cdbce4);
    color: #67398c;
    transition: 1s;
}
.line-four{
    margin-top: 1.5rem;
}
.generate-password{
    background-color: white;
    padding: .8rem;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #FD49A0;
    font-weight:600;
}
.fa-magic{
    background-color: #fff;
    margin-right: .5rem;
}

.generate-password:hover{
    color:#b50359;
    transition: .5s;
}

@media screen and (max-width: 600px){
    .container{
        padding-left: 4rem;
        padding-top: 10rem;
    }    
    .line-one{
        font-size: 2rem;
    }
    .line-two{
        font-size: 2rem;
    }
    .line-three{
        margin-top: 1rem;
    }
    .random-password{
        width: 50%;
        padding-left: 1rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:25px;
        color: #603F8B;
        background-color: #fff;
        font-weight: bolder;
    }
    .random-password:focus{
        outline: none;
    }

    .fa-copy{
        background-color: white;
        padding: 1rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        color: #603F8B;
        font-size:25px;
        font-weight: bolder;
    }
    .line-four{
        margin-top: 1.5rem;
    }
    .generate-password{
        background-color: white;
        padding: .8rem;
        border-radius: 10px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: #FD49A0;
        font-weight:600;
    }
    .fa-magic{
        background-color: #fff;
        margin-right: .5rem;
    }

    .generate-password:hover{
        color:#b50359;
        transition: .5s;
    }
}


